version: '3.8'

services:
  web:
    build: .
    command: sh -c "python manage.py migrate && gunicorn --bind 0.0.0.0:8000 --workers 2 backend.wsgi"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DEBUG=True
      - ALLOWED_HOSTS=localhost,127.0.0.1
    depends_on:
      - db

  db:
    image: postgres:14
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=calibr8db
      - POSTGRES_USER=calibr8user
      - POSTGRES_PASSWORD=calibr8pass
    ports:
      - "5432:5432"

volumes:
  postgres_data:
